################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
./csharp-server/bin/
./csharp-server/obj/
./csharp-server/.vs/

./windowsForms-client/bin/
./windowsForms-client/obj/
./windowsForms-client/.vs/